{% extends "base.html" %}
{% block contenu %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Utilisateurs actifs</p>
                                    {{ nbractifs }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="far fa-clock"></i> Utilisateurs actifs depuis 24h:                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-primary text-center">
                                    <i class="fas fa-user-shield"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Administrateurs</p>
                                    {{ nbradmin }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="fas fa-briefcase"></i> Département: Direction
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="fas fa-project-diagram"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Active Directory</p>
                                    <p>{{ adname }}</p>
                                    <p>{{ addb }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="far fa-user"></i> L'application web utilise l'utilisateur <strong>{{ adhook }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="fas fa-cubes"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Inventaire</p>
                                    {{ nbrinventaire }} items
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="fas fa-money-check-alt"></i> Valeur totale: 0$
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tchat interne</h4>
                        <p class="category">Messages aux autres employés</p>
                    </div>
                    <div class="content">
                        {% if notes %}
                        {% for note in notes %}
                        <div class="comment">
                            <div class="username">
                                {% if not note.added_by.first_name and not note.added_by.last_name %}
                                {{ note.added_by.username }}
                                {% else %}
                                {{ note.added_by.first_name }} {{ note.added_by.last_name }}
                                {% endif %}
                            </div>
                            <div class="commentaire">{{ note.note|safe }}</div>
                            <div class="date">{{ note.date }}</div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <p>Aucune note</p>
                        {% endif %}
                    </div>
                    <div>
                        <hr>
                        <div class="row" style="margin:0.5rem 0.5rem 0.5rem;">
                            <form name="NoteForm" method="post">
                            {% csrf_token %}
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <input id="note" required="required" name="note" type="text" class="form-control border-input" placeholder="Ajouter une note">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd"><i class="fas fa-paper-plane"></i> Ajouter une note</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <span><b> Erreur </b> Veuillez entrer un message de moins de 250 caractères.</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block link_dashboard %}active{% endblock %}
