{% extends "base.html" %}
{% block contenu %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                                    <h4 class="title">Inventaire</h4>
                                    <p class="category">Inventaire de l'entreprise</p>
                                </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                                <th>#</th>
                                <th>Nom de l'article</th>
                                <th>Description de l'article</th>
                                <th>Type d'article</th>
                                <th>Service</th>
                                <th>Pièce</th>
                                <th>Dernière commande</th>
                                <th>Fournisseur</th>
                                <th>Fin de la garantie</th>
                                <th>Condition de l'article</th>
                                <th>Quantité</th>
                                <th>Prix par item</th>
                            </thead>
                            <tbody>
                                {% for inv in inventaire %}
                                <tr>
                                    <th>{{ inv.id }}</th>
                                    <th>{{ inv.nom }}</th>
                                    <th>{{ inv.description }}</th>
                                    <th>{{ inv.type }}</th>
                                    <th>{{ inv.service }}</th>
                                    <th>{{ inv.piece }}</th>
                                    <th>{{ inv.derniere_commande }}</th>
                                    <th>{{ inv.fournisseur }}</th>
                                    <th>{{ inv.date_expiration_garantie }}</th>
                                    <th>{{ inv.condition }}</th>
                                    <th>{{ inv.quantite }}</th>
                                    <th>{{ inv.prix }}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ajouter un objet</h4>
                        <p class="category">Ajouter un objet à l'inventaire</p>
                    </div>
                    <div class="content">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" placeholder="Nom de l'article">
                                </div>
                                <div class="form-group col-md-6">
                                    <textarea placeholder="Description de l'article (max 250 caractères)" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" placeholder="Type d'article">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" placeholder="Service">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" placeholder="Place">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill btn-wd"><i class="fas fa-paper-plane"></i> Ajouter un élément</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block link_inventaire %}active{% endblock %}