{% extends "base.html" %}
{% block contenu %}
<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                                <h4 class="title">Inventaire</h4>
                                <p class="category">Inventaire de l'entreprise</p>
                            </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <th>#</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Nom d'utilisateur</th>
                            <th>Email</th>
                            <th>Actif ?</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                        {% for usager in userlist %}
                            <tr>
                                <th>{{ usager.id }}</th>
                                <th>{{ usager.first_name }}</th>
                                <th>{{ usager.last_name }}</th>
                                <th>{{ usager.username }}</th>
                                <th>{{ usager.email }}</th>
                                {% if usager.is_active == 1 %}
                                    <th>Compte actif</th>
                                {% else %}
                                    <th>Compte inactif</th>
                                {% endif %}
                                {% if usager.is_staff == 1 %}
                                    <th>Direction</th>
                                {% else %}
                                    <th>Employé</th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block link_utilisateurs %}active{% endblock %}